@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand:wght@500&family=Sigmar&family=Vina+Sans&display=swap');

:root{
    --primary-color: #c2e7d9;
    --secondary-color: #3e92cc;
    --accent1-color: #0f084b;
    --accent2-color: #f7f7f2;
    
    --heading-font: Sigmar, "Vina Sans", cursive;
    --paragraph-font: Quicksand, Poppins, sans-serif;
    
    --nav-background-color: black;
    --nav-link-color: silver;
    --nav-hover-link-color: darkgray;
    --nav-hover-background-color: pink;
}    

* {
    margin: 1em;
    padding: 1em;
    max-width: 1400px;
    color: var(--primary-color);
    background-color: var(--accent1-color);
    font-family: var(--paragraph-font);
}

header {
    display: grid;
    justify-content: center;
    grid-template-columns: 30% 1fr;

}

header img {
    justify-self: center;
}



button {
    text-decoration: none;
    border: solid #c2e7d9;
    display: absolute;
    margin: 0;

}

h1, h2 {
    font-family: var(--heading-font);
}

body {
    background-color: var(--accent2-color);
    font-size: 16px;
    line-height: 1.5;
}

.hero {
    position: relative;
    max-width: 1200px;  
    margin: 0;
}

.hero h1 {
    position: absolute;    
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-49%, -550%);
    z-index: 1;
    width: 1126px;
    background-color: rgba(0, 0, 0, .4);
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

article {
    margin: 20px;  
    padding: 2rem;
    position: absolute;
    box-sizing: border-box;
    background-color: var(--accent1-color);
    opacity: 0.7;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    width: 70%;
    border: solid black 1px;
}

article img {
    position: absolute;
    float: right;
    max-width: 40%;
    opacity: 100;

}

article p{
    font-size: 1.2rem;
    line-height: 1.5;
}

.history {
    margin: 2em;
    padding: 1em;
    background-color: var(--accent1-color);
}

.adventure {
    margin: 2em;
    padding: 1em;
    background-color: #0f084b;
}

.sociallinks {
    text-decoration: none; 
    border: var(--accent2-color); 
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}