@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand:wght@500&family=Sigmar&family=Vina+Sans&display=swap');

:root{
--primary-color: #c2e7d9;
--secondary-color: #3e92cc;
--accent1-color: #0f084b;
--accent2-color: #f7f7f2;

--heading-font: Sigmar, "Vina Sans", cursive;
--paragraph-font: Quicksand, Poppins, sans-serif;

--nav-background-color: black;
--nav-link-color: silver;
--nav-hover-link-color: darkgray;
--nav-hover-background-color: pink;

}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    color: var(--primary-color);
    background-color: var(--accent1-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

header {
    padding: 20px;
    background-color: var(--accent2-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

